---
image: python:3.12

pages:
  stage: deploy
  only:
    - master
    - main
  script:
    - cd docs/
    - python3 -m pip install --upgrade pip
    - python3 -m pip install -r requirements.txt
    - mkdocs build --site-dir ../public
  artifacts:
    paths:
      - public
